body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.first-div {
    background-color: #1F2937;
}

ul {
    align-items: baseline;
    list-style-type: none;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    gap: 14px;
    list-style: none;
    padding: 15px;
    justify-content:flex-end;
}

.logo {
    margin-right: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.second-div {
    display: flex;
    flex-direction: row;
}

.intro {
    align-items: center;
    color: whitesmoke;
    padding: 3rem;
    padding-left: 4rem;
    font-size: 600;
    font-weight: bold;
}

button {
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: medium;
    border-radius: 5px;
    background-color: #3882F6;
    color: aliceblue;
}

img {
    padding-top: 15px;
}

.departments {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    padding: 1rem;
}

.quote {
    padding: 2rem 15rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.quote-section {
    background-color: #e5ebe7;
    height: 300px;
    padding-top: 10px;
}

.author {
    text-align: right;
    margin-right: 20rem;
    margin-top: -40px;
    font-size: 20px;
    font-style: italic;
    font-weight: 700    ;
}

.main {
    background-color: aliceblue;
}

.cons-header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.action {
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    height: 40px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
    font-size: medium;
}
 

.text-wrapper {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    padding-left: 10rem;
    gap: 10rem;
    padding-right: 5rem;
    align-items: center;

}

.text {
    display: flex;
    flex-direction: column;
}

.btn {
    font-size: 1.5rem;
    border-radius: 5px;
    height: 3rem;
}